{% extends 'base.html'%} {% block title %}Campaign{% endblock %} {% block
content %} {% if current_user.currently_logged_in_as %}
<div class="sponsor">
	<div class="progress" style="height: 3px">
		<div
			class="progress-bar bg-success"
			role="progressbar"
			style="width: {{campaign.progress}}%"
			aria-valuenow="{{campaign.progress}}"
			aria-valuemin="0"
			aria-valuemax="100"
		></div>
	</div>

	<div class="row mx-4 mt-2">
	{% if campaign.status != 'closed_by_admin' and campaign.status != 'Active' %}
		<div class="col-12 col-md-4">
			<a
				href="{{url_for('add_ad_request',campaign= campaign.id)}}"
				class="btn btn-info w-100"
				>Create Ad Request</a
			>
		</div>
		<div class="col-12 col-md-4">
			<a
				href="{{url_for('edit_campaign_page',campaign_id= campaign.id)}}"
				class="btn btn-info w-100"
				>Edit Campaign</a
			>
		</div>
		<div class="col-12 col-md-4">
			<a
				href="{{url_for('close_campaign_page',campaign_id= campaign.id)}}"
				class="btn btn-danger w-100"
				>Close Campaign</a
			>
		</div>
	{% endif %}
	{% if campaign.status == 'closed_by_admin' %}
	<div class="col-12">
		<div class="alert alert-danger text-center">
			<strong>Closed by Admin</strong>
		</div>
	</div>
	{%endif%}


	</div>
	</div>
	
	<div class="container">
		<div class="card mt-4">
			<div class="card-header bg-secondary">
				<div class="row">
					<h2 class="col-12 col-md-8">{{campaign.name}}</h2>
				</div>
			</div>
			<div class="card-body">
				<h5 class="card-title">{{campaign.description}}</h5>
				<div class="row">
					<div class="col-12 col-md-6">
						<p>
							<strong>Start Date:</strong> {{campaign.start_date}}
						</p>
						<p><strong>End Date:</strong> {{campaign.end_date}}</p>
						<p><strong>Cost:</strong> {{campaign.cost}}</p>

						<p>
							<strong>Visibility:</strong> {{campaign.visibility}}
						</p>
						<p><strong>Category:</strong> {{campaign.category}}</p>
					</div>
					<div class="col-12 col-md-6">
						<strong>Goals: </strong><br />
						<ul>
							{% for goal in goals_list %}
							<li>{{ goal }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="card mt-4">
			<div class="card-header bg-secondary">
				<h2>Progress</h2>
			</div>
			<div class="progress" style="height: 4px">
				<div
					class="progress-bar bg-success"
					role="progressbar"
					style="width: {{campaign.progress}}%"
					aria-valuenow="{{campaign.progress}}"
					aria-valuemin="0"
					aria-valuemax="100"
				></div>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead class="text-center">
						<tr>
							<th>Checkpoint Name</th>
							<th>Weight</th>
							<th>Secret Key</th>
						</tr>
					</thead>
					<tbody class="text-center">
						{% for checkpoint in checkpoints %}
						<tr>
							<td>{{ checkpoint[0] }}</td>
							<td>{{ checkpoint[1] }} %</td>
							<td>{{ checkpoint[2] }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="alert alert-danger">
					<strong>Note: </strong>
					<ol>
						<li>
							Please keep the secret keys safe. They are required
							to update the progress of the campaign.
						</li>
						<li>
							Do not share the 'Finish' secret key until you are
							certain that the campaign has completed
							successfully.
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="container">
		<h3>Ad Requests</h3>

		{% for ad_request in campaign.ad_requests %}
		<div class="card mt-4">
			<div class="card-header">
				<h5>{{ ad_request.sponsor.user.name }}</h5>
			</div>
			<div class="card-body">
				<p class="card-text">{{ ad_request.messages }}</p>
				<p class="card-text">
					<strong>Requirement:</strong> {{ ad_request.requirements }}
				</p>
				<p class="card-text">
					<strong>Payment Amount:</strong>₹ {{
					ad_request.payment_amount }}
				</p>
				<p class="card-text">
					<strong>Status:</strong> {{ ad_request.status }}
				</p>
				{% if campaign.status == 'closed_by_admin' and campaign.status=='Active' %}
				<a
					href="{{ url_for('edit_ad_request_page', ad_request_id=ad_request.id) }}"
					class="btn btn-info"
					>Edit</a
				>
				<a
					href="{{ url_for('close_ad_request_page', ad_request_id=ad_request.id) }}"
					class="btn btn-danger"
					>Close</a
				>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% else %}
<div class="influencer">
	<div class="container">
		<div class="card mt-4">
			<div class="card-header bg-secondary">
				<div class="row">
					<h2 class="col-12 col-md-8">{{campaign.name}}</h2>
					<!-- <a
						href="{{url_for('add_campaign_request_page',campaign= campaign.id)}}"
						class="btn btn-info col-12 col-md-4 mr-4"
						>Create Campaign Request</a
					> -->
				</div>
			</div>
			<div class="card-body">
				<h5 class="card-title">{{campaign.description}}</h5>
				<div class="row">
					<div class="col-12 col-md-6">
						<p>
							<strong>Start Date:</strong> {{campaign.start_date}}
						</p>
						<p><strong>End Date:</strong> {{campaign.end_date}}</p>
						<p>
							<strong>Agreed Cost:</strong> ₹
							{{campaign.agreed_cost}}
						</p>

						<p>
							<strong>Visibility:</strong> {{campaign.visibility}}
						</p>
						<p><strong>Category:</strong> {{campaign.category}}</p>
					</div>
					<div class="col-12 col-md-6">
						<strong>Goals: </strong><br />
						<ul>
							{% for goal in goals_list %}
							<li>{{ goal }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div class="card mt-4">
			<div class="card-header bg-secondary">
				<h2>Progress</h2>
			</div>
			<div class="progress" style="height: 4px">
				<div
					class="progress-bar bg-success"
					role="progressbar"
					style="width: {{campaign.progress}}%"
					aria-valuenow="{{progress}}"
					aria-valuemin="0"
					aria-valuemax="100"
				></div>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead class="text-center">
						<tr>
							<th>Checkpoint Name</th>
							<th>Weight</th>
							<th>Secret Key</th>
						</tr>
					</thead>
					<tbody class="text-center">
						{% for checkpoint in checkpoints %} {%include
						'includes/modal_verify_secret.html' %}
						<tr>
							<td>{{ checkpoint[0] }}</td>
							<td>{{ checkpoint[2] }} %</td>
							{% if checkpoint[3] == 'Finish' %}
							<td>Finish</td>
							{% else %}
							<td>
								<a
									href="#"
									class="btn btn-info"
									data-bs-toggle="modal"
									data-bs-target="#Modal-VerifySecret-{{ checkpoint[1] }}"
									>Verify Secret</a
								>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="alert alert-info">
					<strong>Note: </strong>
					<ol>
						<li>
							Ask to the sponsor for the secret key to update the
							progress of the campaign.
						</li>
					</ol>
				</div>
			</div>
		</div>
		<hr />
		<div class="mt-4">
			<h3>Campaign Requests</h3>
			{% for campaign_request in campaign.campaign_requests %} {% if
			campaign_request.campaign.sponsor.id == current_user.sponsor.id %}
			<div class="card mt-4">
				<div class="card-header">
					<h5>{{ campaign_request.messages }}</h5>
				</div>
				<div class="card-body">
					<p class="card-text">
						<strong>Sponsor: </strong>{{
						campaign_request.campaign.sponsor.user.name }}
					</p>
					<p class="card-text">
						<strong>Payment Amount: </strong>{{
						campaign_request.payment_amount }}
					</p>
					<p class="card-text">
						<strong>Status: </strong>{{ campaign_request.status }}
					</p>
				</div>
			</div>
			{%endif%} {%endfor%}
		</div>
	</div>
</div>

<script>
	if ('{{lock}}' === 'True') {
		const buttons = document.getElementsByClassName('btn');
		for (const button of buttons) {
			button.classList.add('disabled');
		}
	}
</script>
{% endif %} {% endblock %}
