<div
	class="modal fade"
	id="Modal-Redeem-{{redeem_request.id}}"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"></h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form
					action=""
					method="post"
					class="text-center"
				>
					{{ form.hidden_tag() }}
					<div class="form-floating">
						{{form.choice(class="form-control",value=user.username,
						)}}
						{{form.choice.label(class="form-label")}}

					</div>
                    <div class="form-floating mt-2">
						{{form.remarks(class="form-control",
						)}}
						{{form.remarks.label(class="form-label")}}

					</div>
                    
					<br />
                    <input type="hidden" name="redeem_request_id" value="{{redeem_request.id}}" >
					{{ form.submit(class="btn btn-outline-danger btn-block
					w-100") }}
				</form>
			</div>
			<!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div> -->
		</div>
	</div>
</div>
