<!-- <style>
  .modal-content {
    background-color: #212121
  }
</style> -->


<div class="modal fade" id="Modal-VerifySecret-{{checkpoint[1]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <form action="" method="post" class="text-center">
          {{ form.hidden_tag() }}
          <div class="form-floating">
			{{form.secret_key(class="form-control" )}}
			{{form.secret_key.label(class="form-label")}}
        </div>
          <br>
          <input id="checkpoint" name="checkpoint" type="hidden" value="{{checkpoint[1]}}">
          {{ form.submit(class="btn btn-outline-danger btn-block w-100") }}
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Yes</button>
      </div> -->
    </div>
  </div>
</div>